<launch>


  <include file="$(find realsense2_camera)/launch/rs_camera.launch"/> 


   <node name = "cup_detect" pkg = "cv-watch-cup" type="cup_detect" output = "screen">
        <remap from="image_raw" to="/camera/color/image_raw"/>
        <remap from="camera_info" to="/camera/color/camera_info"/>
   </node>	
   
    <param  name="XPose" type="int" value="580"/>
    <param  name="YPose" type="int" value="360"/>
    <param name = "cupDistance" type = "int" value = "32"/>
</launch>
